*{
	font-size: 16px;
	
}

body {
box-sizing: border-box;}

#top-header img {
	max-width: 100%;
}

.head-btn-wrap {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.login-button {
	font-size: 2rem;
}

.nav-link {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#navbarSupportedContent .nav-item {
padding-left: 5em;
}

#banner {
	background-image: url("../images/banner.png");
}

.button-wrap {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10em 0;
}

.button-wrap button{
	font-size: 1.5rem;
}





